.game-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  width: 80%;
  min-height: 60vh;
  max-height: 90vh;
  margin: 70px auto 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  overflow-x: hidden;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.word-display {
  font-size: 2rem;
  margin-bottom: 20px;
  align-self: center;
}

.word-input {
  padding: 10px;
  font-size: 1.5rem;
  align-self: center;
  margin: auto 0;
  background-color: #f2f2f2;
}
.word-display,
.word-input {
  align-self: center;
  margin: auto 0;
}

.countdown {
  font-size: 4rem;
  animation: pulse 1s infinite;
  align-self: center;
  margin: auto 0;
}

.timer {
  font-size: 1.5rem;
  margin-bottom: 2px;
  align-self: center;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.game-over-message {
  font-size: 24px;
  color: red;
  text-align: center;
  margin-top: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.timer-red {
  color: red;
}

.timer-blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
