.high-h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rank-message {
  margin: 20px 0;
}

.highscore-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th,
  td {
    padding: 8px 12px;
    border: 1px solid #680b0b;
    text-align: center;
  }

  th {
    background-color: #f5f5f5;
    color: black;
  }

  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
