.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn {
  font-size: 18px;
  padding: 12px 20px;
  font-weight: 700;
  width: 200px;
}

.main-btn {
  background-color: brown;
  color: white;
}

.second-btn {
  background-color: rgb(165, 112, 42);
  color: white;
}

.third-btn {
  background-color: rgb(145, 92, 32);
  color: white;
}
