@import "../../variables.scss";
@import "../../mixins.scss";

.main-content {
  padding-top: 50px;
  text-align: center;
  height: calc(100vh - 50vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content p {
  color: $text-color;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1500;
}
