@import "./../../variables.scss";

.instructions-container {
  padding: 20px;
  border-radius: 8px;
}

.instructions-list,
.scoring-list {
  padding: 0;

  p {
    margin: 0 0 10px;
    padding-left: 1em;
    text-indent: -1em;
    font-size: 16px;
    color: $text-color;
  }
}
