.OktoberFest {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // color: black;
}

.Breast_Cancer_Awareness_Month {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // color: #ff69b4;
}

.Høst {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // color: #6fe300;
}

.Halloween {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // color: #6b1e46;
}
