$primary-color: rgb(14, 43, 141);
$background-color: #f5f7fa;
$text-color: white;
$secondary-color: #5074b3;
$error-color: #e74c3c;
$primary-button-bg-color: rgb(14, 43, 141);
$primary-button-text-color: white;
$primary-button-hover-bg-color: black;
