.header,
.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
}
.footer {
  position: fixed;
  bottom: 0;
}
